{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <div style="text-align: center;">
    <h2>Необработанные заказы</h2>
  </div>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-hover mx-auto w-auto">
    <tr>
      <th class="text-center">ID заказа</th>
      <th class="text-center">Статус заказа</th>
      <th class="text-center">Статус заказа</th>
      <th class="text-center">Вид оплаты</th>
      <th class="text-center">Клиент</th>
      <th class="text-center">Телефон</th>
      <th class="text-center">Адрес доставки</th>
      <th class="text-center">Комментарий</th>
      <th class="text-center">Рестораны</th>
      <th class="text-center">Ссылка на админку</th>
    </tr>
    {% for order in orders %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.payment }}</td>
        <td>{{ order.price }} руб.</td>
        <td>{{ order.firstname }} {{ order.lastname }}</td>
        <td>{{ order.phonenumber }}</td>
        <td>{{ order.address }}</td>
        <td>{{ order.comment }}</td>
        <td>
          {% if order.restaurants %}
            <details>
              <summary>Развернуть</summary>
                {% for restaurant in order.restaurants %}
                  <li>{{ restaurant }}</li>
                {% endfor %}
            </details>
          {% else %}
            -
          {% endif %}
        </td>
        <td><a href="{% url "admin:foodcartapp_order_change" object_id=order.id %}?next={{ request.path|urlencode }}">Редактировать</a></td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
